.table1 {
  margin-left: 284px;
  margin-top: 1px;
  padding-left: 7px;
  padding-right: 19px;
  position: absolute;
  top: 305px;
  width: 1000px;
}
.add {
  margin-left: 291px;
  margin-top: 18px;
}
